{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  <div class="blog h-entry">
    {{ if .Site.Params.showAuthorOnPosts }}
      {{ partial "author.html" . }}
    {{ end }}
    <div class="intro">
      <h1 class="p-name">{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
      {{ if .Params.image }}
      <img alt="{{.Params.imageAltAttribute | default "Article hero image"}}" src="{{ .Params.image | relURL }}" />
      {{ end }}
    </div>
    <div class="content e-content">
      {{ .Content }}
      {{ partial "share.html" . }}
      <a style="font-family: Newsreader; font-weight: bold; font-style: italics; color: #6320d6; text-decoration:none;" href="mailto:{{ $.Site.Author.email }}?subject={{ replace (printf "Re: %s" .Page.Title) "\"" "'" }}">Reply by email</a>
    </div>
    {{ partial "backlinks.html" (dict "page" .) }}
  </div>
{{ end }}
