{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  <div class="blog">
    {{ if .Site.Params.showAuthorOnPosts }}
      {{ partial "author.html" . }}
    {{ end }}
    <div class="intro">
      <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
      {{ if .Params.image }}
      <img alt="{{.Params.imageAltAttribute | default "Article hero image"}}" src="{{ .Params.image | relURL }}" />
      {{ end }}
    </div>
    <div class="content">
      {{ .Content }}
      <span style="color:#d3d3d3;">Published on: {{ .PublishDate | time.Format ":date_medium" }}</span>
      <span style="color:#d3d3d3;">Last modified on: {{ .Lastmod | time.Format ":date_medium" }}</span>
    </div>
  </div>
{{ end }}
