{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
  
{{ "<!-- Web Monitization -->" | safeHTML }}
    <meta name="monetization" content="$ilp.uphold.com/GLrwmQrfDeU9">

{{ "<!-- RSS Link-->" | safeHTML}}
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}} 

<script defer src="https://analytics.eu.umami.is/script.js" data-website-id="a067997a-8c1a-43c3-a83c-89d42bf923e8"></script>

{{ "<!-- Indieauth -->" | safeHTML }}
   <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
   <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />

{{ "<!-- Webmention -->" | safeHTML }}
   <link rel="webmention" href="https://webmention.io/stephenajulu.com/webmention" />
   <link rel="pingback" href="https://webmention.io/stephenajulu.com/xmlrpc" />


{{ "<!-- IndieAuth Socials -->" | safeHTML }}
{{ with .Site.Author.name }}<meta name="author" content="{{ . }}">{{ end }}
<link href="mailto:alunje73@gmail.com" rel="me">
<link href="https://twitter.com/stephenajulu" rel="me">
<link href="https://github.com/stephenajulu" rel="me">
<link href="https://linkedin.com/in/stephenajulu" rel="me">

{{ "<!-- Favicons & Manifest -->" | safeHTML }}
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ .Title }}">
<meta name="apple-mobile-web-app-title" content="{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="/?utm_source=homescreen">
<link href="favicon.ico" rel="shortcut icon">
<link rel="apple-touch-icon" href="meta/icon-120x120.png">
<link rel="apple-touch-icon" href="meta/icon-180x180.png">
<link rel="icon" type="image/png" href="meta/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="meta/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="meta/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="meta/icon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="meta/icon-256x256.png" sizes="256x256">
<link rel="icon" type="image/png" href="meta/icon-384x384.png" sizes="384x384">
<link rel="icon" type="image/png" href="meta/icon-512x512.png" sizes="512x512">
<meta name="theme-color" content="#6320d6">
<link rel="manifest" href="manifest.json">

{{ "<!-- PWA Script -->" | safeHTML }}
  <script type="module">
   import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
   const el = document.createElement('pwa-update');
   document.body.appendChild(el);
  </script>

{{ "<!-- Webmention Script -->" | safeHTML }}
    <script src="{{ "js/webmention.min.js" | absURL }}" async></script>
