{{ partial "formbutton.html" . }}
<div class="footer">
  {{ if .Site.Data.social.links }}
  <div class="footer-social">
    {{ range .Site.Data.social.links }}
      <span class="social-icon social-icon-{{ .name | urlize }}">
        <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener me">
          <img src="{{ .image | relURL }}" width="24" height="24" alt="{{ .name }}"/>
        </a><br>
        <a href="https://xn--sr8hvo.ws/previous">←</a>An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍<a href="https://xn--sr8hvo.ws/next">→</a>
      </span>
    {{ end }}
  </div>
  {{ end }}
</div>
