<!-- Microformat2 data -->
<div class="h-card" hidden>
  <p class="p-name" rel="author">Stephen Ajulu</p>
  <a class="u-url" href="{{ .Permalink }}">Website</a>
  <a class="u-email u-url" rel="me" href="mailto:alunje73@gmail.com">Email</a>
  <p class="p-locality">Nairobi</p>
  <img class="u-photo" src="images/about.jpg" alt="Stephen Ajulu">
  <a href="https://twitter.com/stephenajulu" rel="me" class="u-url">Twitter</a>
  <a href="https://github.com/stephenajulu" rel="me" class="u-url">Github</a>
  <a href="https://mastodon.social/@stephenajulu" rel="me" class="u-url">Mastodon</a>
  <p class="p-note">Hello there! I'm Stephen Ajulu, a seasoned tech expert, writer, and consultant with over a decade of experience based in Nairobi, Kenya. Learn more by visiting my <a href="https://ajulu.netlify.app">website</a></p>
</div>
